.footerWrapper{
    width: 90vw;
    height: fit-content;
    margin-inline: auto;
    margin-top: 50px;

    background: #000000;
    border-radius: 42px 42px 0 0;
}

.footerLogo{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(42deg) brightness(112%) contrast(101%);
    margin-block-start: 1vh;
    margin-inline-start: 5vw;
}

.footerCredit{
    margin-block-end: 1vh;
    margin-inline: 5vw;
    color: white;
    font-size: 18px;
    font-weight: lighter;
}

@media only screen and (min-width: 768px){
    .footerLogo{
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(42deg) brightness(112%) contrast(101%);
        margin-block: 1vh;
        margin-inline-start: 5vw;
    }

    .footerCredit{
        margin-block-end: auto;
        margin-inline: 5vw;
        color: white;
        font-size: 20px;
        font-weight: lighter;
    }
}