.footerWrapper{
    position: absolute;
    width: calc(100% - 192px);
    height: 100px;
    margin: 96px;
    top: 1961.14px;

    background: #000000;
    border-radius: 42px 42px 0 0;
}

.footerLogo{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(42deg) brightness(112%) contrast(101%);
    position: absolute;
    left: 108px;
    top: 27.6px;
}

.footerCredit{
    position: absolute;
    right: 30px;
    top: 30px;
    color: white;
    font-size: 24px;
}