.searchGroup{
    width: fit-content !important;
}

.customSearchInput{
    border-radius: 59px;
    width: 400px;
    height: 70px;
    font-size: xx-large;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    padding-inline-end: 60px;
}

.searchIcon{
    font-size: xx-large;
    height: 100%;
    margin-inline-end: 20px;
}